.container {
    width: 300px;
    height: 200px;
    border: black solid 1px;
    display: grid;
    grid-template-areas:
    'red gray'
    'blue gray';
}

.red {
    grid-area: red;
}

.blue {
    grid-area: blue;
}

.gray {
    grid-area: gray;
}
